.delete-business-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 225px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
}

.delete-business-title {
    text-align: center;
    margin-bottom: 20px;
}

.delete-business-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.delete-business-yes-button,
.delete-business-no-button {
    background-color: #181F1C;
    color: #315C2B;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 20pt;
    letter-spacing: 1px;
    text-shadow: 
        -1px -1px 0 #9EA93F,  
        1px -1px 0 #9EA93F,
        -1px 1px 0 #9EA93F,
        1px 1px 0 #9EA93F
}