.manage-business-container {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 7%;
}

.manage-business-title {
    font-weight: bold;
    font-size: 40pt;
}

.manage-business-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    width: 100%;
}

.manage-business-card {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.manage-business-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.manage-business-name {
    font-size: 15pt;
}

.manage-business-address-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.manage-business-state-container {
    display: flex;
    gap: 8px;
}

.manage-business-button-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.manage-business-update,
.manage-business-delete {
    width: 100px;
    height: 40px;
    font-size: 15pt;
    font-weight: bold;
    color: #315C2B;
    background-color: #181F1C;
    text-shadow: 
    -1px -1px 0 #9EA93F,
    1px -1px 0 #9EA93F,
    -1px 1px 0 #9EA93F,
    1px 1px 0 #9EA93F;
}